## Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [1]:
import pandas as pd

In [2]:
movies = pd.read_csv('movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [26]:
ratings = ratings.drop('timestamp', 1)

In [27]:
def rating_movies(rating):
              
    if rating <= 2:
        return ('низкий рейтинг')
    elif  2 < rating <= 4:
        return ('средний рейтинг')
    elif rating >= 4.5:
        return ('высокий рейтинг')

In [28]:
ratings['class'] = ratings['rating'].apply(rating_movies)

In [48]:
ratings.sort_values(by = 'rating', ascending = False).head(50)

       userId  movieId  rating            class
33889     242     2929     5.0  высокий рейтинг
36867     265     1233     5.0  высокий рейтинг
46251     337     1356     5.0  высокий рейтинг
14749      95     3948     5.0  высокий рейтинг
14747      95     3917     5.0  высокий рейтинг
63929     460     2020     5.0  высокий рейтинг
14741      95     3793     5.0  высокий рейтинг
77745     537     1269     5.0  высокий рейтинг
77744     537     1267     5.0  высокий рейтинг
14737      95     3702     5.0  высокий рейтинг
77742     537     1265     5.0  высокий рейтинг
36869     265     1237     5.0  высокий рейтинг
14733      95     3617     5.0  высокий рейтинг
14732      95     3578     5.0  высокий рейтинг
14730      95     3510     5.0  высокий рейтинг
14729      95     3499     5.0  высокий рейтинг
14728      95     3481     5.0  высокий рейтинг
36874     265     1247     5.0  высокий рейтинг
77748     537     1273     5.0  высокий рейтинг
88494     587     5013     5.0  высокий рейтинг
46240     337      589     5.0  высокий рейтинг
46233     336     4406     5.0  высокий рейтинг
14772      95     4369     5.0  высокий рейтинг
14771      95     4351     5.0  высокий рейтинг
14770      95     4321     5.0  высокий рейтинг
36878     265     1254     5.0  высокий рейтинг
46238     337      329     5.0  высокий рейтинг
14764      95     4140     5.0  высокий рейтинг
77749     537     1276     5.0  высокий рейтинг
77751     537     1282     5.0  высокий рейтинг
14762      95     4128     5.0  высокий рейтинг
88493     587     5008     5.0  высокий рейтинг
14760      95     4105     5.0  высокий рейтинг
46242     337     1196     5.0  высокий рейтинг
46243     337     1199     5.0  высокий рейтинг
77738     537     1253     5.0  высокий рейтинг
77734     537     1247     5.0  высокий рейтинг
46230     336     3501     5.0  высокий рейтинг
14723      95     3408     5.0  высокий рейтинг
14695      95     2959     5.0  высокий рейтинг
63898     460     1285     5.0  высокий рейтинг
14692      95     2907     5.0  высокий рейтинг
77718     537     1211     5.0  высокий рейтинг
77717     537     1210     5.0  высокий рейтинг
77716     537     1207     5.0  высокий рейтинг
14686      95     2858     5.0  высокий рейтинг
14685      95     2841     5.0  высокий рейтинг
14684      95     2793     5.0  высокий рейтинг
77715     537     1203     5.0  высокий рейтинг
77713     537     1199     5.0  высокий рейтинг

## Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [32]:
geo = pd.read_csv('keywords.csv')
geo.all

<bound method NDFrame._add_numeric_operations.<locals>.all of                        keyword     shows
0                           вк  64292779
1                одноклассники  63810309
2                        порно  41747114
3                         ютуб  39995567
4                    вконтакте  21014195
...                        ...       ...
99995   эльдорадо старый оскол      3705
99996      frigate для firefox      3630
99997                   укрсиб      3630
99998  погода в ялте на неделю      3688
99999                     ггму      3630

[100000 rows x 2 columns]>

In [34]:
geo_data = {'Центр': ['москва', 'тула', 'ярославль'], 'Северо-Запад': ['петербург', 'псков', 'мурманск'],
           'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']}

In [35]:
def geo_base(geo):
    
    for key, value in geo_data.items():
        
        for splitted in geo.split():
            
            if splitted.lower() in value:
                return key
        
    return 'undefined'

In [38]:
geo['region'] = geo['keyword'].apply(geo_base)
geo

                       keyword     shows     region
0                           вк  64292779  undefined
1                одноклассники  63810309  undefined
2                        порно  41747114  undefined
3                         ютуб  39995567  undefined
4                    вконтакте  21014195  undefined
...                        ...       ...        ...
99995   эльдорадо старый оскол      3705  undefined
99996      frigate для firefox      3630  undefined
99997                   укрсиб      3630  undefined
99998  погода в ялте на неделю      3688  undefined
99999                     ггму      3630  undefined

[100000 rows x 3 columns]

In [39]:
geo['region'].value_counts()

undefined         99406
Центр               384
Северо-Запад        146
Дальний Восток       64
Name: region, dtype: int64

## Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.
Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [40]:
years = range(1950,2011)

In [41]:
def production_year(title):
    
    for year in years:
        if str(year) in title:
            return year
    return '1900'

In [42]:
movies['year'] = movies['title'].apply(production_year)

In [43]:
movies_ratings = ratings.merge(movies, how = 'left')

In [44]:
movies_ratings.sort_values(by = 'rating', ascending = False)

,userId,movieId,rating,class,title,genres,year
33889,242,2929,5.0,высокий рейтинг,Reds (1981),Drama|Romance,1981
36867,265,1233,5.0,высокий рейтинг,"Boot, Das (Boat, The) (1981)",Action|Drama|War,1981
46251,337,1356,5.0,высокий рейтинг,Star Trek: First Contact (1996),Action|Adventure|Sci-Fi|Thriller,1996
14749,95,3948,5.0,высокий рейтинг,Meet the Parents (2000),Comedy,2000
14747,95,3917,5.0,высокий рейтинг,Hellraiser (1987),Horror,1987
...,...,...,...,...,...,...,...
76709,531,1258,0.5,низкий рейтинг,"Shining, The (1980)",Horror,1980
2530,15,109187,0.5,низкий рейтинг,"Zero Theorem, The (2013)",Drama|Fantasy|Sci-Fi,1900
76706,531,1183,0.5,низкий рейтинг,"English Patient, The (1996)",Drama|Romance|War,1996
76700,531,1036,0.5,низкий рейтинг,Die Hard (1988),Action|Crime|Thriller,1988
68262,475,3564,0.5,низкий рейтинг,"Flintstones in Viva Rock Vegas, The (2000)",Children|Comedy,2000

In [51]:
year_rating = movies_ratings.groupby('year').agg({'rating': 'mean'})

In [54]:
year_rating.sort_values(by = 'rating', ascending = False).reset_index()

    year    rating
0   1957  4.014241
1   1972  4.011136
2   1952  4.000000
3   1954  3.994220
4   1951  3.983539
..   ...       ...
57  2005  3.448434
58  2003  3.444777
59  1996  3.426600
60  1997  3.415764
61  2000  3.356104

[62 rows x 2 columns]